---
interface Props {
  class?: string;
  size?: 'sm' | 'md' | 'lg' | 'xl' | 'full';
}

const { class: className = '', size = 'lg' } = Astro.props;

const sizes = {
  sm: 'max-w-3xl',
  md: 'max-w-5xl',
  lg: 'max-w-7xl',
  xl: 'max-w-screen-2xl',
  full: 'max-w-full',
};
---

<div class:list={['mx-auto px-4 sm:px-6 lg:px-8', sizes[size], className]}>
  <slot />
</div>
